#profile {
  gap: .5rem;
  padding: 1rem;
  border-radius: 10px;

  max-width: 400px;

  h1, h2, h4 {
    margin: 0;
  }

  h2 {
    font-size: 1.1rem;
    color: #333;

    margin-top: -.8rem;
  }

  button {
    margin-top: 1rem;

    border-radius: 10px;
    border: none;

    padding: .5rem 1rem;

    background-color: rgb(252, 71, 71);
    color: white;
    font-weight: bold;

    cursor: pointer;
  }
}
